.app {
    display: grid;
    width: 50vw;
    height: 30vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.header {
    grid-column: 1/3;

    background-color: rgb(233, 233, 233);
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "main__main-part main__main-part"
        "main__part-1 main__part-2"
        "main__part-3 main__part-3";

    background-color: rgb(255, 232, 189);
}

.aside {
    background-color: rgb(173, 241, 237);
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "footer-1 footer-2 footer-3 footer-4";
    grid-column: 1/3;

    min-width: fit-content;

    background-color: rgb(218, 218, 218);
}

.main__main-part {
    grid-area: main__main-part;
}

.main__part-1 {
    grid-area: main__part-1;
}

.main__part-2 {
    grid-area: main__part-2;
}

.main__part-3 {
    grid-area: main__part-3;
}

.main__part-1,
.main__part-2,
.main__part-3 {
    margin: 5px 5px;

    background-color: rgb(255, 188, 157);
}

.footer-1 {
    grid-area: footer-1;
}

.footer-2 {
    grid-area: footer-2;
}

.footer-3 {
    grid-area: footer-3;
}

.footer-4 {
    grid-area: footer-4;
}

.footer-1,
.footer-2,
.footer-3,
.footer-4 {
    margin: 10px 10px;
    background-color: rgb(238, 238, 238);
}

.p {
    display: flex;
    min-width: max-content;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}