/* Выстраиваем footer с помощью grid */
.footer__ul {
    display: flex;
    flex-direction: row;

    list-style-type: none;
    margin: 1%;


}

.footer__ul__li {
    min-width: min-content;
    margin: auto;
}

.footer__ul__li__a {
    text-decoration: none;
    color: #B45F4D;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
}