/* Выстраиваем grid для header */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header__nav header__logo header__login";
}

.header__nav {
    grid-area: header__nav;
    min-width: 400px;
    margin: auto;
}

.header__logo {
    grid-area: header__logo;
    min-width: 100px;
    /* Выравнивание по центру ячейки*/
    margin: auto;
}

.header__login {
    grid-area: header__login;
    min-width: 100px;
    /* Выравнивание по центру ячейки*/
    margin: 1 0 auto;
}

/* Выравнивание для навигации */
.header__nav__menu {
    display: flex;
    padding-left: 20px;
    flex-direction: row;
    list-style-type: none;

    margin-block-start: 0;
    margin-block-end: 0;
}

/* Выравнивание для логина */
.header__login {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 50px;

    list-style-type: none;
}

/* Аккаунт */
.header__account {
    margin-right: 30px;

    margin-block-start: 0;
    margin-block-end: 0;

    text-decoration: none;
    font-size: 14px;
}

/* Навигация */
.header__nav__shop,
.header__nav__the-edit,
.header__nav__our-story,
.header__nav__reviews {
    padding-right: 15px;

    font-size: 20px;
}

/* Шрифт */
.header__nav__shop,
.header__nav__the-edit,
.header__nav__our-story,
.header__nav__reviews,
.header__account {
    color: #B4604D;

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Настройка кнопки */
.header__button {
    background: none;
    border: none;
}