/* Настраиваем 3 контейнер main */
.main__part-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5%;

    background-image: url(./../image/part-3.png);
    background-repeat: no-repeat;

    background-size: 100% 100%;
    min-height: 50vh;
    min-width: auto;
}

/* Устанавливаем минимальную и максимальную высоту, занимаемую текстом */
.main__part-3__text-1,
.main__part-3__text-2 {
    max-height: 15%;
    min-height: 10%;
    background-color: #DF9B7A;
    margin: 0;

    color: white;

    font-family: 'Roboto', sans-serif;
}

/* Отступы и шрифты */
.main__part-3__text-1 {
    padding-top: 10px;
    padding-left: 10px;

    font-size: 20px;
    font-weight: lighter;
}

.main__part-3__text-2 {
    padding-top: 10px;
    padding-left: 80%;

    font-size: 18px;
    font-weight: lighter;

    margin-block-start: 0;
    margin-block-end: 0;
}